#detail_team_main{
    top: 48px;
    height: calc(100vh - 48px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    text-align: left;
    display: flex;
}
#detail_team_imgcont{
    position: relative;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0 50%, 33.3% 50%, 66.7% 50%, 100% 50%;
    background-size: 25% auto, 25% auto, 25% auto, 25% auto;
}#detail_team_imgcont::before {
    padding-top: 56.25%;
    display: block;
    content: "";
}
#detail_team_txtcont{
    padding: 16px;
}#detail_team_name{
    margin: 0px;
    font-weight: bold;
    font-size: 1.2em;
}#detail_team_exp{
    margin: 0px;
    font-size: 0.8em;
}
#detail_team_comment{
    padding: 16px;
}
#detail_team_others{
    padding: 16px;
}


/*pc etc*/
@media screen and (min-width:600px){
    #detail_team_main{
        flex-direction: row;
    }
    #detail_team_imgcont{
        /*width: 60%;*/
        margin: 16px;
    }#detail_team_txtcont{
        /*width: 60%;*/
    }#detail_team_others{
        float: right;
    }#detail_one{
        width: 60%;
    }#detail_two{
        width: 40%;
    }
}
/*smart phone etc*/
@media screen and (max-width:599px){
    #detail_team_main{
        flex-direction: column;
    }
    #detail_team_imgcont{
        width: 100%;
    }#detail_team_txtcont{
        width: 100%;
    }#detail_one{
        width: 100%;
    }#detail_two{
        width: 100%;
        padding: 16px;
    }
}


#team_comment_sub{
    margin: 4px 0px;
    display: inline-block;
}
#team_comment_inp{
    width: calc(100% - 100px);
    box-sizing: border-box;
    height: 36px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.team_comment_div{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 4px 0px;

    /*
    border: solid 1px #eeeeee;
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    */
}
.team_comment_top{
    width: 100%;
    position: relative;
    height: 48px;
}.team_comment_main{
    width: 100%;
    position: relative;
    text-align: left;
}
.team_comment_icon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
}.team_comment_name{
    margin: 0px;
    position: absolute;
    top: 8px;
    left: 48px;
    font-size: 16px;
    font-weight: 600;
}.team_comment_time{
    margin: 0px;
    position: absolute;
    top: 28px;
    left: 48px;
    font-size: 10px;
    color: #777777;
}.team_comment_text{
    font-size: 16px;
    margin: 0px 8px 8px 48px;
}