/*fire*/
#choise_ambar{
    background-image: url(../images/membar_icons/amber.jpg);
}#choise_sinen{
    background-image: url(../images/membar_icons/sinen.jpg);
}#choise_enhi{
    background-image: url(../images/membar_icons/enhi.jpg);
}#choise_shanrin{
    background-image: url(../images/membar_icons/shanri.jpg);
}#choise_toma{
    background-image: url(../images/membar_icons/toma.jpg);
}#choise_bene{
    background-image: url(../images/membar_icons/benet.jpg);
}#choise_yoimiya{
    background-image: url(../images/membar_icons/yoimiya.jpg);
}#choise_danna{
    background-image: url(../images/membar_icons/dexirukku.jpg);
}#choise_klee{
    background-image: url(../images/membar_icons/klee.jpg);
}#choise_hutao{
    background-image: url(../images/membar_icons/hutao.jpg);
}

/*water*/
#choise_yukuaki{
    background-image: url(../images/membar_icons/yukua.jpg);
}#choise_babara{
    background-image: url(../images/membar_icons/babara.jpg);
}#choise_tarutariya{
    background-image: url(../images/membar_icons/tarutaru.jpg);
}#choise_mona{
    background-image: url(../images/membar_icons/mna.jpg);
}#choise_kokomi{
    background-image: url(../images/membar_icons/kokomi.jpg);
}#choise_ayato{
    background-image: url(../images/membar_icons/ayato.jpg);
}

/*wind*/
#choise_sayu{
    background-image: url(../images/membar_icons/sayu.jpg);
}#choise_sukurosu{
    background-image: url(../images/membar_icons/sklo.jpg);
}#choise_jean{
    background-image: url(../images/membar_icons/jean.jpg);
}#choise_kazuha{
    background-image: url(../images/membar_icons/kazuha.jpg);
}#choise_wenti{
    background-image: url(../images/membar_icons/wenti.jpg);
}#choise_sho{
    background-image: url(../images/membar_icons/sho.jpg);
}

/*thunder*/
#choise_fish{
    background-image: url(../images/membar_icons/fish.jpg);
}#choise_sara{
    background-image: url(../images/membar_icons/kujo.jpg);
}#choise_reza{
    background-image: url(../images/membar_icons/reza.jpg);
}#choise_hokuto{
    background-image: url(../images/membar_icons/hokuto.jpg);
}#choise_risa{
    background-image: url(../images/membar_icons/risa.jpg);
}#choise_kokuse{
    background-image: url(../images/membar_icons/kokusei.jpg);
}#choise_ei{
    background-image: url(../images/membar_icons/raiden.jpg);
}#choise_yae{
    background-image: url(../images/membar_icons/yae.jpg);
}

/*reef*/

/*ice*/
#choise_gaia{
    background-image: url(../images/membar_icons/gaia.jpg);
}#choise_dyona{
    background-image: url(../images/membar_icons/dyona.jpg);
}#choise_tyouun{
    background-image: url(../images/membar_icons/sigekumo.jpg);
}#choise_rosaria{
    background-image: url(../images/membar_icons/rosaria.jpg);
}#choise_nana{
    background-image: url(../images/membar_icons/nana.jpg);
}#choise_ayaka{
    background-image: url(../images/membar_icons/ayaka.jpg);
}#choise_aroi{
    background-image: url(../images/membar_icons/aroi.jpg);
}#choise_kanu{
    background-image: url(../images/membar_icons/kanu.jpg);
}#choise_eurua{
    background-image: url(../images/membar_icons/eurua.jpg);
}#choise_sinkaku{
    background-image: url(../images/membar_icons/sinkaku.jpg);
}