#choise_ambar{
    background-image: url(../images/membar_icons/amber.jpg);
}#choise_sinen{
    background-image: url(../images/membar_icons/sinen.jpg);
}#choise_enhi{
    background-image: url(../images/membar_icons/enhi.jpg);
}#choise_shanrin{
    background-image: url(../images/membar_icons/shanri.jpg);
}#choise_toma{
    background-image: url(../images/membar_icons/toma.jpg);
}#choise_bene{
    background-image: url(../images/membar_icons/benet.jpg);
}#choise_yoimiya{
    background-image: url(../images/membar_icons/yoimiya.jpg);
}#choise_danna{
    background-image: url(../images/membar_icons/dexirukku.jpg);
}#choise_klee{
    background-image: url(../images/membar_icons/klee.jpg);
}#choise_hutao{
    background-image: url(../images/membar_icons/hutao.jpg);
}